:root {
  --terminal-text-color: #39ff14;
  --background-color: #012;
}

@font-face {
  font-family: "HeavyData Nerd Font";
  src: url("/fonts/HeavyDataNF.woff2") format("woff2"),
    url("/fonts/HeavyDataNF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BigBlueTerminal";
  src: url("/fonts/BigBlueTermPlusNFM.woff2") format("woff2"),
    url("/fonts/BigBlueTermPlusNFM.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: #fff;
  font-family: "BigBlueTerminal", monospace;
}

h1 {
  font-family: "HeavyData Nerd Font", sans-serif !important;
}

/* Terminal */
.shell {
  box-sizing: margin-box;
  padding: 20px;
  height: 80vh;
  width: 100vw;
  overflow-y: scroll;
}

.current-line {
  display: flex;
}

.terminal-input {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  color: #ccc;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
}

.terminal-text {
  color: var(--terminal-text-color);
}

span.line {
  display: block;
  overflow-wrap: break-word;
}

.dialog {
  display: block;
  overflow-wrap: break-word;
  border: dotted 0.5em #fff;
}

.dialog p {
  margin-left: 10px;
  margin-bottom: 5px;
}

/* Bottom bar */
.bottom-bar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  height: 10vh;
}

.hc-flag {
  bottom: 0;
  left: 0;
  width: 12vw;
  z-index: 999;
}

.dev-profile-icon {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

.dev-profile-icon:hover {
  transform: scale(1.1);
}

.pfp {
  border-radius: 50%;
  width: 50px;
}

.counterspell-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counterspell-logo img {
  width: 150px;
}

/* Other */
.red {
  color: rgb(255, 56, 56);
}
